
  <div class="component-header">
    <h2>Jetzt Registrieren</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <form action="">
    <div class="form-small-container">
      <div class="holder">Team 35<span class="red">*</span></div>
      <input type="text">
    </div>
    <label for="name">Spieler</label>
    <div class="form-small-container">
      <div class="holder">Frodo<span class="red">*</span></div>
      <input type="text" id="name">
      <div class="holder">frodo.beutin@sadas.com<span class="red">*</span></div>
      <input type="text">
    </div>

    <div class="form-small-container">
      <div class="holder">Beutin<span class="red">*</span></div>
      <input type="text">
      <div class="holder">22.10.2699<span class="red">*</span></div>
      <input type="text">
    </div>
    
    <div class="time"></div>
    <button>Speichern</button>
  </form>
