  <flash-messages></flash-messages>
  <div class="component-header">
    <h2>Jetzt Registrieren</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <form action="">
    <div class="form-small-container">
      <!--<div class="holder">Team 35<span class="red">*</span></div>-->
      <input [(ngModel)]='currentTeam.name' name="name" type="text">
    </div>
    <label for="name">Spieler</label>
    <div class="form-small-container">
      <!--<div class="holder">Frodo<span class="red">*</span></div>-->
      <input  [(ngModel)]='currentPlayer.first_name' type="text" id="name" name="first_name">
      <!--<div class="holder">frodo.beutin@sadas.com<span class="red">*</span></div>-->
      <input [(ngModel)]='currentPlayer.email_telephone' type="text" name="mail">
    </div>

    <div class="form-small-container">
      <!--<div class="holder">Beutin<span class="red">*</span></div>-->
      <input [(ngModel)]='currentPlayer.last_name' type="text" name="last_name">
      <!--<div class="holder">22.10.2699<span class="red">*</span></div>-->
      <input [value]="currentPlayer.birthdate | date:'yyyy-MM-dd'" type="date" name="date">
    </div>
    
    <div class="time-container clearfix">
      <div class="time">
        <span>Fahrzeit</span>
        <!--<input type="text" name="time" [(ngModel)]="formattedTime">-->
        <div class="input-container">
          <input type="text" class="no-outline" [(ngModel)]="minutes" name="minutes" (blur)="checkMinuntesLength($event)"  minLength="2" maxlength="2">:
          <input type="text" class="no-outline" [(ngModel)]="seconds" name="seconds" (blur)="checkSecondsLength($event)"   maxlength="2">:
          <input type="text" class="no-outline" [(ngModel)]="milliSeconds" name="miliseconds" (blur)="checkMilliSecondsLength($event)"   maxlength="2">
        </div>
      </div>
      <div class="putts">
        <span>Putts</span>
        <input type="number" class="no-outline" min="0" max="10" step="1" name="putts" [ngModel]="puttScore.putts"
        (ngModelChange)="validate($event)">
      </div>
    </div>
    <button (click)='save()'>Speichern</button>
  </form>
