.teams-container {
    .search {
        border-bottom: 1px solid #ccc;
        padding-bottom: 50px;
        
        span {
            font-size: 18px;
        }

        input {
            display: inline-block;
            margin-left: 15px;
            border: 0;
            border-bottom: 1px solid #000;

            &:focus{
                outline: none;
            }
        }
    }

    a {
        color: #000;
    }

    .serch-results {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;

        h3 {
            display: inline-block;
            margin-right: 20px;
            font-weight: bold;
        }
    }

}

// Pagination styling
pagination-controls {
    float: right;
    margin-top: -34px;

}

.my-pagination /deep/   {
    .ngx-pagination {
        color: red;

        li {
            background: #ccc;
            color: #000;
            margin: 2px;
        }

        .pagination-previous, .pagination-next {
            color: red;
            background: transparent;
        }


        .pagination-previous a:before {
            content: '❮';
        }

        .pagination-next a:after {
            content: '❯';
        }
        .current {
            background: #636c7a;
            color: #fff;
        }
    }

    .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
        content: '❯';
    }

    .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
        content: '❮';
    }
}