<div class="teams-container">
    <div class="search">
        <span>Suche:</span>
        <input type="text" [(ngModel)]="term">
    </div>
    <spinner [size]="120" *ngIf="spinner" [tickness]="3" [color]="'#faa933'"></spinner>
    <div  *ngFor="let team of teams.teams | paginate: { itemsPerPage: 10, currentPage: p } |filter:term" class="serch-results">
        <div class="search-result">
            <h3>{{ team.name }}</h3>
            <span>
                <a [routerLink]="['/edit-team', team.id]">Editieren</a>
                
            </span>
        </div>
    </div>

    <button>Neuer Spieler</button>
</div>

<pagination-controls class="my-pagination" previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>