  <div class="component-header">
    <h2>Jetzt Registrieren</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <form action="" name='editForm' role="form"  novalidate > 
    <!--(ngSubmit)="save()"-->
    <div class="form-small-container">
      <!--<div class="holder">Nickname fuer das Liederboard<span class="red">*</span></div>-->
      <input [(ngModel)]="teamObject.team.name" name="nick_name" type="text">
    </div>
    <label for="name">Spieler</label>
    <div class="form-small-container">
      <!--<div class="holder">Vorname<span class="red">*</span></div>-->
      <input [(ngModel)]="playerObject.first_name" name="first_name" type="text" id="name">
      <!--<div class="holder">Email oder Handynummer<span class="red">*</span></div>-->
      <input [(ngModel)]="playerObject.email_telephone" name="email_telephone" type="text">
    </div>

    <div class="form-small-container">
      <!--<div class="holder">Nachname<span class="red">*</span></div>-->
      <input [(ngModel)]="playerObject.last_name" name="last_name" type="text">
      <!--<div class="holder">Geburtsdatum<span class="red">*</span></div>-->
      <input [(ngModel)]="playerObject.birthdate" name="birthdate" type="date">
    </div>
    <div class="clearfix accept-container">
      <input type="checkbox" id="agree">
      <p for="agree">Hiermit akzeptiere ich die <u><a href="#">Teilnahmbedingung</a></u> und bestatetige, dass ich der Autor des Inhalts bin</p>
    </div>
    <p><span class="red">*</span>Pflichtfelder</p>
  </form>
    <button (click)='save()' >Speichern</button>
